{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{username}}</p>

<table border="1">
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for component in data %}
    <tr>
        <th>{{component.date}}</th>
        <th>{{component.title}}</th>
        <th>{{component.description}}</th>
        <th>
            {% if component.is_finished %}
            Finished
            {% else %}
            Not Yet
            {% endif%}
        </th>
        <th>
            <button><a href="{% url 'todolist:remove' component.id %}" title="">Remove</a></button>
            <button><a href="{% url 'todolist:status' component.id %}" title="">Change Status</a></button>
        </th>
    </tr>
{% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task' %}">Create New Task</a></button>
<br>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}